*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
.contentCenter{
    display: flex;
    justify-content: center;
}
.contentCenter h1{
    margin-top: 5vh;
}
.card{
    width: 50%;
    height: auto;
    border: solid;
    border-radius: 10px;
    background-color: rgb(232, 233, 252);
    padding: 2%;
    border-width: 2px;
    margin-top: 3vh;
}
.tittleCard{
    color: rgb(21, 14, 85);
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: solid;
    border-bottom-width: 1px;
}
.fatherForm{
    padding: 10px 0px 0px 25px;
}
form input{
    margin: 3px;
}
h2 {
    text-align: center;
    color: #750000;
    margin-bottom: 20px;
}
form{
    width: max-content;
    display: block;
    margin: auto;
}
span{
    text-align: center;
    display: block;
}